.container{
  background: #DCDCDC;
}

.navUl{
  list-style: none;
  font-family: Roboto;
  font-size: 20px;
}

.navLi{
  list-style: none;
  padding: 1rem;
}

.liDiv{
  margin: 5px;

}

.boxTeams{
  margin: 10px;
  text-align: -webkit-center;
}

.grid2{
  margin: 3px;
  
}